html, body {
    position:relative;
        overflow: hidden;
        margin: auto;
        height: 100%;
        width: 90%;
     }
#container{
	position: relative;
	width: 99%;
	height: 99%;
	/*border: 2px solid brown;*/
}